{namespace test.person}

/**
 * Run the person tests.
 */
{template .soyweb}
<body>
Running person_test.js
<hr>
<script src="http://localhost:9810/compile?id=rep"></script>
<script src="http://localhost:9810/module/rep/person_test"></script>
</body>
{/template}
